Source: semplice-live-firstuse
Section: utils
Priority: optional
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Build-Depends: dh-python, python3-all (>= 3.1.2-7~), debhelper (>= 8.0.0)
X-Python3-Version: >= 3.2
Standards-Version: 3.9.5
Homepage: http://github.com/semplice/semplice-live-firstuse
Vcs-Git: git://github.com/semplice/semplice-live-firstuse.git
Vcs-Browser: https://github.com/semplice/semplice-live-firstuse

Package: semplice-live-firstuse
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-quickstart, python3-gi,
 gir1.2-gtk-3.0, python3-keeptalking2
Description: Language selector for Semplice Live.
 semplice-live-firstuse is a simple language selector
 for Semplice Live.
